body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background: #FFFFFF;
}

.header {
    width: 50vw;
    height: 25vh;

    margin-left: 25vw;
    margin-top: 5vh;

    display: flex;
    justify-content: center;
}

.logo {
    width: 25vh;
    height: 25vh;
}

.main-wrapper {
    margin-left: 10vw;
    width: 80vw;
}

.sec-list {
    margin: 0;
    margin-top: 5vh;
    padding: 0;
    list-style: none;
}

.sec-item {
    font-size: 5vh;
    text-align: center;
    background-color: #7413dc ;

    margin-top: 2.5vh;
    padding-top: 3%;
    padding-bottom: 3%;

    border-radius: 10px;
    width: 100%;
    
}

#BeaversButton:hover {
    background-color: red;
}

#CubsButton:hover {
    background-color: red;
}

#ScoutsButton:hover {
    background-color: red;
}

#ExplorersButton:hover {
    background-color: red;
}

#NetworkButton:hover {
    background-color: red;
}


a {
    text-decoration: none;
    color: #FFFFFF;

    display: inline-block;
    width: 100%;
    height: 100%;
}